.home {
  min-height: 100vh;
  background: #0d0d0d;
  padding-top: 200px;
  color: #fff;
  overflow: hidden;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  gap: 50px;
  flex-wrap: wrap;
}

/* TEXT */
.home-text {
  max-width: 600px;
  animation: fadeIn 1s ease-in-out;
}

.home-text h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1.2;
  background: linear-gradient(90deg, #4f46e5, #ff4d4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 20px;
}

.home-text p {
  font-size: 1.1rem;
  color: #ddd;
  margin-bottom: 30px;
  line-height: 1.8;
}

/* BUTTONS */
.home-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* OUTLINE RED BUTTON */
.btn.outline-red {
  border: 2px solid #ff4d4d;
  color: #ffff;
  width: 300px;
  background: transparent;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* Hover effect */
.btn.outline-red:hover {
  background: #ff4d4d;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 77, 77, 0.4);
}

/* IMAGE */
.home-img img {
  width: 350px;
  border-radius: 24px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.3);
  animation: float 4s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.home-img img:hover {
  transform: scale(1.05) rotate(1deg);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

@keyframes float {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-15px);}
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  .home-container .home-buttons{
    margin-left: 40px;
  }

  .home-img img {
    margin-top: -50px;
    width: 280px;
  }

  .home-text h1 {
    font-size: 2.5rem;
  }

  .home-text h2 {
    font-size: 1.5rem;
  }

  .home-text p {
    font-size: 1rem;
  }
}
