/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  background: #0d0d0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* LOGO */
.nav-logo a{
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}

/* DESKTOP LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  position: relative;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

.nav-links li a,
.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li.active a,
.mobile-menu ul li.active a {
  color: red; /* highlight active link */
  font-weight: 600;
}

/* Hover underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: red;
  transition: 0.3s;
}

.nav-links a:hover,
.mobile-menu a:hover {
  color: red;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HAMBURGER BUTTON */
.menu-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(0, 0, 0, 0.9); 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.5s ease;
  z-index: 999;
  border-top-left-radius: 20px;   
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;   
  border-bottom-right-radius: 0;
}

.mobile-menu.show {
  bottom: 0;
}

.mobile-menu ul {
  list-style: none;
  text-align: center;
}

.mobile-menu li {
  margin: 20px 0;
}

.mobile-menu a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .desktop {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
}
